.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

/* apply global header2-text */
.header2-text {
    font-size: 40px;
    font-weight: 600;
}

/* apply global simple-btn-container: include only text */
.simple-btn-container {
    height: 50px;
    padding: 0 30px;
    display: inline-block;
    align-content: center;
    background-color: #63AB45;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

/* apply global simple-input */

.simple-input {
    height: 50px;
    width: 35vw;
    border-radius: 15px;
    border: none;
    padding: 0 20px;
    font-size: 18px;
    font-family: Prompt;
    color: #3B3B3B;
    ;

    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}


.content-section {
    position: relative;

    .hero-container {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 60vh;
        background-image: url("/assets/images/travel-mountain.jpg");
        background-size: cover;
        background-position: center top 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        /* Tạo lớp phủ trên bề mặt */
        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0000002f;

        }

        .slogan {
            position: relative;
            z-index: 1;
            color: #ffffff;
        }

        .search-bar {
            margin-top: 35px;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .option-container {
                position: relative;
                font-size: 18px;
                color: #3B3B3B;

                .select-area {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    height: 50px;
                    padding: 0 20px;
                    background-color: #ffffff;
                    border-radius: 15px;
                    cursor: pointer;

                    .text-select {
                        width: 13vw;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .icon-show-more {
                        font-size: 20px;
                        color: #3B3B3B;

                        i {
                            transition: transform 0.3s;
                        }
                    }

                    &.active i {
                        transform: rotate(180deg);
                    }
                }

                .expand-area {
                    position: absolute;
                    z-index: 2;
                    top: 120%;
                    left: 0;
                    width: 100%;
                    height: 500%;
                    background-color: #ffffff;
                    border-radius: 5px;
                    box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.2);
                    overflow-y: scroll;
                    display: none;

                    &::-webkit-scrollbar {
                        width: 6px;
                        border-radius: 15px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #cecece;
                        border-radius: 15px;
                    }

                    &.show {
                        display: block;
                    }

                    div {
                        padding: 10px;
                        border-bottom: 1px solid #0000001a;
                        cursor: pointer;
                        background-color: transparent;
                        transition: 0.2s;

                        &:hover {
                            background-color: #f3f3f3;
                        }

                        &.selected {
                            background-color: #f3f3f3;
                        }
                    }
                }
            }

            .input-container {}

            .btn-container {}
        }
    }

    .tour-container {
        position: absolute;
        z-index: 0;
        top: 46vh;
        width: 100%;
        height: 1000px;
        background-color: #ffffff;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 50px 130px;

        .all-tour .title-container {
            display: flex;
            align-items: center;
            gap: 20px;

            .simple-icon-container {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                background-color: #F1F1F1;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    display: inline-block;
                }
            }

            .header8-text {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .all-tour .none-tour {
            display: none;
            margin-top: 30px;
            width: 100%;
            flex-direction: column;
            align-items: center;

            &.show {
                display: flex;
            }

            .alert-container {
                display: inline-block;
                padding: 15px 50px;
                border-radius: 15px;
                background-color: #F6F6F6;
            }

            .can-you-like {
                width: 100%;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .simple-btn-container {
                    background-color: #F7921E;
                    max-height: 40px;
                    cursor: default;
                }

                .offer-ticket {
                    position: relative;
                    margin-top: 50px;
                    padding: 20px 50px;
                    background-color: #ffffff;
                    border-radius: 15px;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                    min-width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .header6-text {
                        font-size: 24px;
                        font-weight: 600;
                    }

                    .road-map {
                        margin-top: 30px;
                        margin-bottom: 10px;
                        display: flex;
                        gap: 150px;

                        .place-container {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .img-container {
                                position: relative;
                            }

                            .img-container.line::before {
                                position: absolute;
                                top: 50%;
                                left: 100%;
                                transform: translateY(-50%);
                                width: 250%;
                                min-width: 150px;
                                max-width: 250px;
                                height: 1px;
                                border-top: 2px dashed rgba(130, 130, 130, 0.5);
                                content: "";
                            }
                        }

                        img {
                            width: 100px;
                            height: 100px;
                            border-radius: 100px;
                        }

                    }

                    .navigation {
                        position: absolute;
                        bottom: 20px;
                        right: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 40px;
                        padding: 0 3px 0 20px;
                        background-color: #63AB45;
                        color: #ffffff;
                        font-weight: 500;
                        border-radius: 100px;
                        gap: 10px;
                        cursor: pointer;

                        .icon-container {
                            background-color: #ffffff;
                            width: 35px;
                            height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 100%;
                        }

                        img {
                            width: 26px;
                            height: 26px;
                            display: inline-block;
                        }
                    }


                }

                /* Tạo phần tử giả: nổi bật nhất */

                .offer-ticket::before {
                    content: "Nổi bật nhất";
                    position: absolute;
                    top: -20px;
                    left: 5%;
                    height: 40px;
                    background-color: #EC3C77;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 30px;
                    border-radius: 15px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #ffffff;
                }
            }
        }

        .all-tour .has-tour {
            display: none;
            width: 100%;
            display: flex;
            justify-content: center;

            .ticket-list {
                width: 100%;
                gap: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .ticket-item {
                    position: relative;
                    margin-top: 50px;
                    background-color: #ffffff;
                    border-radius: 15px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    width: 90%;


                    .ticket-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        overflow-x: hidden;
                        padding: 20px 50px;
                    }

                    .header6-text {
                        font-size: 24px;
                        font-weight: 600;
                    }

                    .ticket-detail {
                        width: 100%;
                        display: flex;

                        .col1 {
                            width: 70%;
                        }

                        .col2 {
                            flex: 1;
                        }

                        i {
                            display: inline-block;
                            color: #63AB45;
                        }

                        .icon-container {
                            height: 24px;
                            width: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .detail-item {
                            margin-top: 5px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }

                        p.light-text {
                            margin-left: 20px;
                            font-size: 16px;
                            color: #737373;
                        }

                        p.formal-text {
                            font-weight: 500;
                            font-size: 18px;
                        }

                    }

                    .show-more {
                        position: relative;
                        margin-top: 20px;
                        padding: 5px 20px;
                        border-radius: 15px;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        color: #9D9D9D;
                        font-size: 12px;
                        transition: color 0.2s;

                        &:hover {
                            color: #505050;
                        }
                    }

                    /* Tạo lớp giả là đường phân chia */

                    .show-more.expand::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        border: 1px dashed rgba(0, 0, 0, 0.1);
                        width: 50vw;
                    }

                    .show-more.expand::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 100%;
                        border: 1px dashed rgba(0, 0, 0, 0.1);
                        width: 50vw;
                    }

                    .tour-detail-container {
                        display: none;
                        width: 100%;

                        .schedule-detail {
                            margin-top: 30px;
                            width: 100%;
                        }

                        .schedule-detail .schedule-on-day {

                            .title-container {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                p {
                                    font-size: 18px;
                                    font-weight: 500;
                                }

                                img {
                                    width: 24px;
                                    height: 24px;
                                }
                            }

                            .road-map {
                                position: relative;
                                margin: 0 80px;
                                margin-top: 30px;
                                display: flex;
                                flex-direction: column;
                                gap: 70px;
                
                                .location {
                                    display: flex;
                                    align-items: start;
                                    gap: 40px;
                                    position: relative;

                                    img {
                                        width: 35px;
                                        height: 35px;
                                    }

                                    .icon-location {
                                        width: 70px;
                                        height: 70px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 100px;
                                        background-color: #F5F5F5;
                                    }

                                    .activities-container {
                                        flex: 1;
                                        display: flex;
                                        gap: 30px;
                                        padding: 20px 30px;
                                        border-radius: 15px;
                                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                                    }

                                    .activities-container .left {
                                        flex: 1;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 10px;

                                        .timestamp {
                                            display: flex;
                                            align-items: start;
                                            gap: 15px;

                                        }

                                        .timestamp .time {
                                            background-color: #F5F5F5;
                                            width: 65px;
                                            padding: 2px 0;
                                            border-radius: 15px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            font-weight: 700;
                                        }

                                        .timestamp .activity-name {
                                            flex: 1;
                                            color: #6B6B6B;
                                            overflow: hidden;
                                        }
                                    }

                                    .activities-container .right {
                                        width: 160px;

                                    }

                                    .nav-container {
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;

                                        .navigation {
                                            max-width: 180px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            height: 40px;
                                            padding: 0 3px 0 20px;
                                            background-color: #EC3C77;
                                            color: #ffffff;
                                            font-weight: 500;
                                            border-radius: 100px;
                                            gap: 10px;
                                            cursor: pointer;

                                            .icon-container {
                                                background-color: #ffffff;
                                                width: 35px;
                                                height: 35px;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                border-radius: 100%;
                                            }

                                            img {
                                                width: 26px;
                                                height: 26px;
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }

                                .location.active {
                                    .icon-location {
                                        background-color: #63AB45;

                                        img {
                                            filter: brightness(0) invert(1);
                                        }
                                    }
                                }

                                /* Tạo đường line từ đầu đến cuối xuyên qua các location */

                                &::before {
                                    content: "";
                                    position:absolute;
                                    top: 0;
                                    left: 35px;
                                    bottom: 70px;
                                    border: 2px dashed rgba(0, 0, 0, 0.1);;
                                    
                                }
                            }
                        }

                        .rate-tour-container {
                            position: relative;
                            margin-top: 50px;
                            padding-top: 25px;
                            margin-bottom: 30px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;

                            .simple-btn-container {
                                height: 40px;
                                background-color: #F7921E;
                                font-size: 16px;
                            }

                            .star-container {
                                margin-top: 30px;
                                display: flex;
                                justify-content: center;
                                gap: 20px;

                                i {
                                    font-size: 40px;
                                    color: #b6b6b6;
                                    cursor: pointer;
                                    transition: color 0.2s;

                                    &:hover {
                                        color: #ffa600;
                                    }

                                }
                            }

                            .input-container {
                                position: relative;
                            }

                            .simple-input {
                                margin-top: 20px;
                                border: 1px solid rgba(84, 84, 84, 0.2);
                                padding: 10px 20px;
                                height: 80px;
                                resize: none;
                                border-radius: 15px;
                                font-size: 16px;


                                &::placeholder {
                                    color: #bbbbbb;
                                }

                            }

                            .btn-send {
                                position: absolute;
                                top: 35px;
                                right: -80px;
                                height: 50px;
                                width: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #ffffff;
                                font-size: 24px;
                                background-color: #63AB45;
                                border-radius: 100%;
                                box-shadow: 0px 0px 10px #4dff01aa;
                                cursor: pointer;
                                transition: 0.2s ease-in-out;

                                &:hover {
                                    box-shadow: 0px 0px 20px #4dff01ff;
                                }

                            }
                        }

                        /* Tạo đường phân chia */
                        .rate-tour-container::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            width: 100vw;
                            border: 1px dashed rgba(0, 0, 0, 0.1);
                        }

                    }

                    .tour-detail-container.show {
                        display: block;
                    }
                }

                /* Tạo phần tử giả: nổi bật nhất */

                .ticket-item.being::before {
                    content: "Đang trải nghiệm";
                    position: absolute;
                    top: -20px;
                    left: 5%;
                    height: 40px;
                    background-color: #EC3C77;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 30px;
                    border-radius: 15px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #ffffff;
                }

                .ticket-item::before {
                    content: "Đã trải nghiệm";
                    position: absolute;
                    top: -20px;
                    left: 5%;
                    height: 40px;
                    background-color: #F2F2F2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 30px;
                    border-radius: 15px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #EC3C77;
                }
            }


            &.show {
                display: flex;
            }
        }

        .recomment-tours .title-container {
            margin-top: 80px;
            display: flex;
            align-items: center;
            gap: 20px;

            .simple-icon-container {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                background-color: #F1F1F1;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    display: inline-block;
                }
            }

            .header8-text {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .recomment-tours .card-list {
            margin-top: 30px;


            .container-bs {
                display: flex;
                gap: 20px;
                justify-content: center;
                flex-wrap: wrap;
            }

            .card1 {
                background-color: white;
                position: relative;
                width: 300px;
                border-radius: 15px;
                /* Bo góc cho card */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                transition: transform 0.3s ease;
            }

            .card1:hover {
                transform: translateY(-5px);
            }

            .card1 img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .best-seller {
                background-color: rgb(99, 171, 69);
                top: 1%;
                color: white;
                font-size: 12px;
                font-weight: bold;
                padding: 5px 10px;
                position: absolute;
                margin: 10px;
                border-radius: 5px;
                /* Bo góc cho nhãn "Best Seller" */

            }

            .card-content {
                padding: 15px;
            }

            .card-content h3 {
                font-size: 16px;
                color: #333;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            .details {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                color: #666;
                margin-bottom: 10px;
            }

            .details .duration::before {
                content: "🕒 ";
            }

            .details .rating {
                color: rgb(99, 171, 69);
            }

            .price {
                display: flex;
                gap: 10px;
                align-items: center;
            }

            .original-price {
                font-size: 14px;
                color: #999;
                text-decoration: line-through;
            }

            .discounted-price {
                font-size: 18px;
                font-weight: bold;
                color: rgb(99, 171, 69);
            }
        }

        .recomment-tours .nav-container {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;

            .navigation {
                max-width: 150px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;
                padding: 0 3px 0 20px;
                background-color: #63AB45;
                color: #ffffff;
                font-weight: 500;
                border-radius: 100px;
                gap: 10px;
                cursor: pointer;

                .icon-container {
                    background-color: #ffffff;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                }

                img {
                    width: 26px;
                    height: 26px;
                    display: inline-block;
                }
            }
        }


    }
}

/* footer section */
.footer-section {
    margin-top: 3550px;
    height: 80vh;
    background-color: #1D231F;


    .support-container,
    .additional-info {
        padding: 0 160px;
    }

    .support-container {
        padding-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;

        .banner {
            display: flex;
            align-items: center;
            gap: 25px;

            img {
                height: 80px;
                width: 80px;
                object-fit: cover;
                box-shadow: 0px 10px 60px #0000001a;

            }

            .header6-text {
                font-size: 26px;
                color: #ffffff;
                font-weight: 600;
                line-height: 1.2;
                display: inline-block;
                max-width: 30vw;
            }
        }

        .input {
            width: 35%;
            display: flex;
            gap: 25px;

            input {
                height: 60px;
                width: calc(100% - 100px);
                border-radius: 15px;
                border: none;
                font-size: 18px;
                padding: 10px;
                font-family: Prompt;
            }

            input:focus {
                outline: none;
                box-shadow: none;
                border: none;
            }

            input::placeholder {
                font-family: Prompt;
            }

            .btn-send {
                height: 60px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                font-size: 24px;
                background-color: #63AB45;
                border-radius: 100%;
                box-shadow: 0px 0px 40px #4dff01aa;
                cursor: pointer;
                transition: 0.2s ease-in-out;

                &:hover {
                    box-shadow: 0px 0px 40px #4dff01ff;
                }
            }
        }
    }

    .solid-line {
        height: 0.5px;
        margin: 40px 160px;
        background-color: #3b4437;
    }


    .additional-info {
        display: flex;
        justify-content: space-between;
        gap: 50px;

        /* apply header8 all col */
        .header8-text {
            font-size: 18px;
            font-weight: 500;
            color: #ffffff;
        }

        .link {
            text-decoration: none;
            color: #a9a9a9;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: #f0f0f0;
            }

        }

        .col1 {

            .payment-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 15px;
                justify-content: center;
                max-width: 500px;
                margin: 20px auto;

                .payment-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 60px;
                    background: #ffffff;
                    border-radius: 10px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    transition: transform 0.3s ease-in-out;

                    img {
                        max-width: 60%;
                        max-height: 60%;
                        object-fit: cover;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .col2 {

            .links {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
            }

            .col2-2 {
                margin-top: 50px;

                .links {
                    gap: 5px;
                }

                .link-container {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #c5c5c5;
                    cursor: pointer;
                    transition: 0.2s;

                    i {
                        font-size: 18px;
                        opacity: 0.5;
                    }

                    &:hover {
                        color: #f0f0f0;

                        i {
                            opacity: 1;
                        }

                        .link {
                            color: #f0f0f0;
                        }
                    }
                }
            }

        }

        .col3 {
            .links {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
            }
        }

        .col4 {

            .download {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 10px;

                width: 70%;

                .ggplay,
                .appstore {
                    cursor: pointer;
                    opacity: 0.7;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        opacity: 1;
                    }
                }


            }
        }
    }

    .theend {
        margin-top: 20px;
        border-top: 0.5px solid #3b4437;

        .copywrite {
            margin-top: 20px;
            color: #a9a9a9;
            display: flex;
            flex-direction: column;
            align-items: center;

            .small-text {
                margin-top: 5px;
                font-size: 14px;
            }
        }
    }

}